# Ignore thumbnails/folder settings
.DS_Store
.idea

# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
build/
ts-build/
build-test/
build-forge/

# Ignore log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore cache files
cache/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore tmp files
tmp/

# Sublime text project files
*.sublime-project
*.sublime-workspace

# Solana
target/*
!target/idl/
!target/types/
.anchor/

# keys
verification-api-keys.json

# env files
.env.evm-test

.vscode/launch.json